.header {
  padding: 2vh 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../../assets/images/headerBackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header .logos {
  width: 100%;
}
.header .logos .logo {
  width: 100%;
}
.header .logos .logo__small {
  display: none;
}
.header_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_content_subtitle {
  font-size: 32px;
  font-weight: bold;
  font-family: "Opsilion", sans-serif;
  line-height: 120%;
  color: #c6c6bb;
  text-shadow: -4px -4px 0 black, 4px -4px 0 black, -4px 4px 0 black, 4px 4px 0 black, -4px 0px 0 black, 4px 0px 0 black, 0px -4px 0 black, 0px 4px 0 black;
}
.header_content_subtitle__green {
  color: #a3d61e;
}

.sectionInfo {
  width: 100%;
  padding: 2vh 10vw;
}
.sectionInfo .content {
  padding: 20px;
  border: 15px solid #822817;
  border-radius: 20px;
  background-color: #fec476;
}
.sectionInfo .content_text {
  font-family: "Playskool", sans-serif;
  font-size: 30px;
  color: #822817;
}

.sectionPlantsList {
  width: 100%;
  padding: 2vh 10vw;
}
.sectionPlantsList > .content {
  padding: 20px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #b6cbbd;
}