:root {
    --primary-color: #822817;

    --plant-panel-background-color: #fec476;
    --zombie-panel-background-color: #b9aed8;
    --main-background-color: #b6cbbd;
    --card-plant-background-color: #a44b13;
    --card-zombie-background-color: #5c617f;

    --font-header-plant-card-color: #e79b23;
    --font-header-zombie-card-color: #03a31c;

    --description-font-color: #071127;
    --plant-card-content-font-color: #94370c;
    --font-main-zombie-color: #6c322f;
    --font-description-zombie-color: #5c4033;
    --font-stat-color: #d62828;
}
