:root {
    --primary-color: #822817;

    --panel-background-color: #fec476;
    --main-background-color: #b6cbbd;
    --card-plant-background-color: #a44b13;

    --font-header-plant-card-color: #e79b23;
}
