.plantCard {
    padding: 20px;

    position: relative;

    display: flex;
    flex-direction: column;
    gap: 20px;

    border-radius: 12px;
    background-image: url('/assets/images/plantCardTexture.png');
    background-size: cover;
    background-color: var(--card-plant-background-color);

    transition: all 0.3s ease-in-out;

    &:hover {
        transform: rotateY(15deg);
    }

    &-wrapper {
        height: 100%;
        width: 100%;

        position: absolute;
        inset: 0;

        border-radius: 12px;
        background-image: radial-gradient(
                circle at right bottom,
                transparent 12px,
                var(--main-background-color) 12px
            ),
            radial-gradient(
                circle at right bottom,
                transparent 12px,
                var(--main-background-color) 12px
            );
        background-position: -12px 108px, 108px -12px;
        background-size: 24px 24px;
        background-repeat: no-repeat;
    }

    &_header {
        display: flex;
        align-items: center;

        flex-shrink: 0;

        font-size: 40px;
        font-weight: 600;
        color: var(--font-header-plant-card-color);

        &_image-wrapper {
            height: 96px;

            position: relative;
            top: -8px;
            left: -8px;

            flex-shrink: 0;

            background-color: var(--main-background-color);
            outline: 12px solid var(--main-background-color);
            border-bottom-right-radius: 12px;
        }

        .title {
            flex-basis: 100%;

            text-align: center;
        }
    }

    &_content {
        padding: 10px;

        display: flex;
        flex-direction: column;
        gap: 16px;
        flex-basis: 100%;
        justify-content: space-between;

        background-color: var(--plant-panel-background-color);
        border-radius: 12px;

        font-size: 24px;
        color: var(--plant-card-content-font-color);

        &_infoBlock {
            display: flex;
            gap: 12px;
            flex-direction: column;

            .description {
                color: var(--description-font-color);
            }

            .stats {
                display: flex;
                flex-direction: column;

                .stat_description {
                    color: var(--font-stat-color);
                }
            }
        }

        &_footer {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .info-value {
                color: var(--font-stat-color);
            }
        }
    }
}
