.header {
    height: 100px;
    padding: 0 10vw;

    position: fixed;
    inset: 0;
    z-index: 1001;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--main-background-color);

    .logo {
        height: 60px;
    }

    .navigation ul {
        display: flex;
        align-items: center;
        gap: 32px;

        li {
            list-style-type: none;

            transition: all 0.3s ease-in-out;

            &:hover {
                scale: 1.1;
            }

            .link {
                font-size: 24px;
                font-weight: bold;
                font-family: 'Opsilion', sans-serif;
                line-height: 120%;

                text-shadow: -2px -2px 0 black, 2px -2px 0 black,
                    -2px 2px 0 black, 2px 2px 0 black, -2px 0px 0 black,
                    2px 0px 0 black, 0px -2px 0 black, 0px 2px 0 black;

                &__plants {
                    color: #a3d61e;
                }

                &__zombies {
                    color: #909088;
                }
            }
        }
    }
}
