.sectionInfo {
    width: 100%;
    padding: 2vh 10vw;

    .content {
        padding: 20px;

        border: 15px solid var(--primary-color);
        border-radius: 20px;
        background-color: var(--panel-background-color);

        &_text {
            font-size: 30px;
            color: var(--primary-color);
        }
    }
}
