// Variables
@use './variables/index';

// Sections
@use './components/sections/sectionInfo';
@use './components/sections/sectionPlantsList';
@use './components/sections/sectionZombiesList';

// Header
@use './components/header';

// Cards
@use './components/cards/plantsCard';
@use './components/cards/zombiesCard';

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    font-family: var(--main-font);
}

body {
    width: 100vw;
    height: 100vh;

    overflow-x: hidden;

    background-color: var(--main-background-color);
}
